defusedxml==0.4.1
Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-Login==0.2.11
Flask-OpenID==1.2.4
flask-paginate==0.2.8
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
gunicorn==19.1.1
ipython==2.3.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
psycopg2==2.5.4
py==1.4.26
pytest==2.6.4
pytest-flask==0.6.0
python3-openid==3.0.5
SQLAlchemy==0.9.8
Werkzeug==0.9.6
WTForms==2.0.1
