html {
  position: relative;
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
}

.logo {
  position: absolute;
  right: 0;
  font-size: 20px;
  line-height: 48px;
  padding: 0 10px 0 0;
}

.logo a {
  padding: 0 !important;
}

.logo a:hover {
  background-color: #f5f5f5 !important;
}

h1 {
  text-align: center;
}

.monkey-brand {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 100px 0 100px !important;
  text-align: center;
  line-height: 27px;
}

.flex-container{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1;
}

@media (max-width: 540px){
  .flex-container{
    flex-direction: column;
  }
}

.left-side{
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  display: flex;
  border-right: 1px solid #e5e5e5;
  padding-right: 2%;
}

.info{
  order: 1;
  padding: 15px;
}

ul{
  list-style: none;
}

.friends-row{
  padding: 0;
  margin: 0 ;
  display: flex;
  flex-flow: row wrap;
}

.friends-item{
  border-style: solid;
  border-width: 2px;
  border-color: #f5f5f5;
  padding: 5px;
  min-height: 180px;
  width: 180px;
  margin: 10px 10px 10px 0;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.flex-gap{
  width: 180px;
  margin: 0 10px 0 0;
}

.profile-buttons{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

.header {
  background: tomato;
  text-align: center;
}

.footer {
  background: #f5f5f5;
  height: 50px;
  line-height: 50px;
}

.main {
  text-align: left;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 7%; 
}

.navigation {
  background: #f5f5f5;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: #fff;
}

.pagination {
  align-self: center;
  border-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.pagination a {
  background-color: #fff !important;
  border-color: #f5f5f5 !important;
  color: #000 !important;
}

.pagination a:hover {
  background-color: #f5f5f5 !important;
}

.pagination li.active a {
  background-color: #f5f5f5 !important;
}

.btn-full-width {
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.form {
  width: 400px;
}
