{% extends "base.html" %}

{% block innercontent %}
<blockquote class="blockquote-reverse">
  <p>”Monkeys are safe in a zoo, but that’s not what monkeys are for.”</p>
</blockquote>
<h1>Meet the Monkeys</h1>
<h3>What is it?</h3>
<p>Ever wanted to become the Monkey God? This is what it's like.</p>
<p>Think of it as an register book filled with lots of Monkeys. Monkeys are very friendly, so they have some (many!) friends.
Some of Monkeys have best friends. Sometimes Monkeys get really cranky and delete their friends. Sometimes they feel like they don't want to have best friends.
Then they remove the best friend. But this action doesn't delete a monkey from the friend list, only from the best friend's pedestal. We need that to let a Monkey
realize how valuable the friendship is.</p>
<p>Got tired of your Monkeys? Just go to the Monkey's profile. Look at all the friends it has, look how old it is, look at its email and write it somewhere down maybe? Then delete this filthy creature forever!</p>
<p>How about new Monkeys? You can easily add some. Don't forget to fill in all the fields. All Monkeys need (and want) to be mature enough to have friends and emails.</p>
<p>Want to have a look at all of your Monkeys at once? Nope, not happening. There are too many Monkeys in here. That's why we have this awesome pagination feature.
But you are free to sort your Monkeys to make the search easier. Possible sort features include sorting by name, by number of friends and by name of the best friend.</p>
<p>Now that you know everything you need to become the Monkey God, embrace your divine powers!</p>
<h3>Features</h3>
<ul>
  <li>Flask</li>
  <li>SQLAlchemy</li>
  <li>PostgreSQL</li>
  <li>Git + GitHub</li>
  <li>WTForms</li>
  <li>Heroku</li>
  <li>Bootstrap</li>
  <li>pytest</li>
</ul>
<h3>Author</h3>
<ul>
  <li>About
    <ul>
      <li>My name is Maria Klepikova. Originally I'm from Moscow, Russia. Now I happily live in Helsinki, Finland.</li>
      <li>I'm finishing my studies at HAAGA-HELIA UAS (Business Information Technologies degree).</li>
    </ul>
  </li>
  <li>Links
    <ul>
      <li><a href="http://github.com/Nonse">Github</a></li>
      <li><a href="http://fi.linkedin.com/in/mariaklepikova">LinkedIn</a></li><br>
    </ul>
  </li>
  <li>Notable projects
    <ul>
      <li><a href="http://www.unoakter.com/">UNO (Flask) - my very first project in Flask</a></li>
      <li><a href="http://80.240.135.237/">Feel_Like (Django), temp link - school team project</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
