{% extends "base.html" %}

{% block innercontent %}
<div class="flex-container">
  <div class="left-side">
    <h3>{{ monkey.name }}</h3>
    <img src="{{ monkey.avatar(200) }}">
      <ul>
        <li>age: {{ monkey.age }}</li>
        <li>email: {{ monkey.email }}</li>
      </ul>
      <a href="{{ url_for('monkey_views.edit_monkey', id=monkey.id) }}" class="btn btn-default btn-full-width">
        <span class="fa fa-pencil fa-fw"></span>
        &nbsp;Edit monkey
      </a>
      <a href="{{ url_for('monkey_views.delete_monkey', id=monkey.id) }}" class="btn btn-default btn-full-width">
        <span class="fa fa-times fa-fw"></span>
        &nbsp;Delete monkey
      </a>
  </div>
  <div class="info">
  {% include friends_template %}
  {{ pagination.links|safe }}
  </div>
</div>
{% endblock %}
