{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}Monkey GOD{% endblock %}

{% block content %}
<ul class="navigation">
    <li class="logo"><a href="/"><span class="fa fa-home fa-fw fa-lg"></span></a></li>
    <li><a href="{{ url_for('search') }}">All Monkeys</a></li>
    <li><a href="{{ url_for('create_monkey') }}">Add Monkey</a></li>
</ul>
<article class="main">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="messages">
    {% for message in messages %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  {% block innercontent %}{% endblock %}
</article>
<footer class="footer">@2015 Maria Klepikova</footer>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}
