{% extends "base.html" %}

{% block innercontent %}
<h1>All Monkeys</h1>

<div class="dropdown">
  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">
  Sort by &nbsp;<span class="fa fa-caret-down"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="{{ url_for('search', sort='name_asc')}}">
        <span class="fa fa-sort-alpha-asc fa-fw"></span>
        &nbsp; Name ASC
      </a>
    </li>
    <li>
      <a href="{{ url_for('search', sort='name_desc')}}">
        <span class="fa fa-sort-alpha-desc fa-fw"></span>
        &nbsp; Name DESC
      </a>
    </li>
    <li>
    <a href="{{ url_for('search', sort='number_asc')}}">
      <span class="fa fa-sort-amount-asc fa-fw"></span>
      &nbsp; Number of Friends ASC
    </a>
    </li>
    <li>
    <a href="{{ url_for('search', sort='number_desc')}}">
      <span class="fa fa-sort-amount-desc fa-fw"></span>
      &nbsp; Number of Friends DESC
    </a>
    </li>
    <li>
    <a href="{{ url_for('search', sort='bf_asc')}}">
      <span class="fa fa-bookmark fa-fw"></span>
      &nbsp; Best Friend ASC
    </a>
    </li>
    <li>
    <a href="{{ url_for('search', sort='bf_desc')}}">
      <span class="fa fa-bookmark fa-fw fa-rotate-180"></span>
      &nbsp; Best Friend DESC
    </a>
    </li>
  </ul>
</div>
<ul class="friends-row">
  {% for monkey in monkeys %}
  <li class="friends-item">
    <span class="bold-text">{{ monkey.name }}</span>
    <a href="{{ url_for('profile', id=monkey.id) }}"><img src="{{ monkey.avatar(150) }}"></a>
    <span>{{ monkey.email }}</span>
    <span>{{ monkey.friends.count() }} friends</span>
    {% if monkey.best_friend %}
    <span>Best friend: <a href="{{ url_for('profile', id=monkey.best_friend.id) }}">{{ monkey.best_friend.name }}</a> </span>
    {% else %}
    <span>No best friend :(</span>
    {% endif %}
  </li>
  {% endfor %}
  {# for flex-box space between to work #}
  {% for flex_gap in range(10) %}
  <li class="flex-gap"></li>
  {% endfor %}
</ul>
{{ pagination.links|safe }}
{% endblock %}
