<a href="{{ url_for('monkey_views.profile', id=monkey.id) }}" class="btn btn-default">
  <span class="fa fa-chevron-left fa-fw"></span>
  &nbsp;Cancel
</a>
<h1>Adding Friends</h1>

<ul class="friends-row">
  {% for friend in friends.items %}
  <li class="friends-item">
    <h4 class="monkey-name">{{ friend.name }}</h4>
    <a href="{{ url_for('monkey_views.profile', id=friend.id) }}"><img src="{{ friend.avatar(150) }}"></a>
    <span>{{ friend.email }}</span>
    <span>{{ friend.friends.count() }} friends</span>
    {% if friend.best_friend %}
    <span>Best friend: <a href="{{ url_for('monkey_views.profile', id=friend.best_friend.id) }}">{{ friend.best_friend.name }}</a> </span>
    {% else %}
    <span>No best friend :(</span>
    {% endif %}
    <a href="{{ url_for('monkey_views.add_friend', id=monkey.id, friend_id=friend.id) }}" class="btn btn-default btn-full-width">
      <span class="fa fa-plus fa-fw"></span>
      &nbsp;Add friend
    </a>
  </li>
  {% endfor %}
  {# for flex-box space between to work #}
  {% for flex_gap in range(10) %}
  <li class="flex-gap"></li>
  {% endfor %}
</ul>
